<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>best dictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
            defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"
            defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"
            defer></script>
</head>
<body>
<a href="add-word">új szó hozzáadása</a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Rendezés
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="/hungarian-asc">magyar ABC</a>
            <a class="dropdown-item" href="/hungarian-desc">magyar ZYX</a>
            <a class="dropdown-item" href="/english-asc">angol ABC</a>
            <a class="dropdown-item" href="/english-desc">angol ZYX</a>
        </div>

    </div>
<br>
<table>
    <tr>
        <th id="magyarth">magyar</th>
        <th>angol</th>
    </tr>
    {% for item in szotar %}
        <tr>
            <td>{{ item.magyar }}</td>
            <td>{{ item.angol }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>